{% extends "base.html" %}
{% block scripts %}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container-fluid w-75 p-5">
  <h3 class="border-bottom mb-4">Nouveau client</h3>
  <form id="new-client-form" class="form" method="POST" action="{{url_for('services_offering.new_client')}}">
    <fieldset class="form-group">
      <legend class="pt-1">Personne Contact</legend>
      <label for="fname" class="form-field-label">Prénom</label>
      <input type="text" id="fname" name="fname" class="form-control" required="Required">
      <label for="name" class="form-control-label">Nom</label>
      <input type="text" id="name" name="name" class="form-control" required="Required">
      
      <legend class="pt-2">Informations sur la compagnie</legend>
      <label for="company" class="form-control-label">Compagnie</label>
      <input type="text" id="company" name="company" class="form-control" required="Required">
      <label for="address" class="form-control-label">Adresse</label>
      <input type="text" id="address" name="address" class="form-control" required="Required">
      <label for="city" class="form-control-label">Ville</label>
      <input type="text" id="city" name="city" class="form-control" required="Required">
      <label for="province" class="form-control-label">Province</label>
      <input type="text" id="province" name="province" class="form-control" required="Required" value="Québec">
      <label for="zip" class="form-control-label">Code Postal</label>
      <input type="text" id="zip" name="zip" class="form-control" required="Required">
      
      <button class="btn btn-primary mt-2" type="submit" value="Submit">Créer un nouveau client</button>
      <a href="{{url_for('services_offering.new_services_offer')}}">
        <button class="btn btn-danger mt-2 mb-auto" type="button">Annuler</button>
      </a>
    </fieldset>
  </form>
</div>
{% endblock %}