{% extends "base.html" %}
{% block scripts %}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container-fluid w-100 p-5">
  <div class="card card-body">
    <p>
      <b>{{ client.contact_fname + " " + client.contact_name }}</b><br>
      {{ client.company_name }}<br>
      {{ client.address }}<br>
      {{ ", ".join([client.city, client.province, client.zip]) }}<br>
    </p>
    <h5>Offre de services: {{ session['project_name']}}</h5>
    <b>Description du mandat</b>
    <p>{{ session['mandate'] }}</p>
    
    <!-- Inclusions mécaniques -->
    {% if session['mec_inc']|length > 0 %}
    <b>Inclusions mécaniques</b>
    <ul>
      {% for i in session['mec_inc'] %}
      <li>{{ i }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    <!-- Exclusion mécaniques -->
    {% if session['mec_exc']|length > 0 %}
    <b>Exclusions mécaniques</b>
    <ul>
      {% for i in session['mec_exc'] %}
      <li>{{ i }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    <!-- Inclusions électriques -->
    {% if session['elec_inc']|length > 0 %}
    <b>Inclusions électriques</b>
    <ul>
      {% for i in session['elec_inc'] %}
      <li>{{ i }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    <!-- Exclusion électriques -->
    {% if session['elec_exc']|length > 0 %}
    <b>Exclusions électriques</b>
    <ul>
      {% for i in session['elec_exc'] %}
      <li>{{ i }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="w-75 container-fluid p-3">
    <h5>Honoraires</h5>
    <form id="mandate-form" class="form-inline" method="POST" action="#">
      <fieldset class="form-group">
        <button class="btn btn-success" type="button" onclick="addElement('price-table', 'price')">Ajouter une catégorie</button>
        <button class="btn btn-danger" type="button" onclick="remSelectedElements('price-table')">Supprimer les catégories sélectionnées</button>
        <table class="table" id="price-table">
          {% for i in range(session['prices']|length) %}
          <tr>
            <td><input type="checkbox" class="checkbox"></td>
            <td><input type="text" class="form-control" name="price-description" value="{{ session['price_descriptions'][i]}} "></td>
            <td>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control" name="price" value="{{ session['prices'][i] }}" required>
              </div>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td><input type="checkbox" class="checkbox"></td>
            <td><input type="text" class="form-control" name="price-description" placeholder="Ingénierie mécanique"></td>
            <td>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control" name="price" placeholder="Entrer le montant" required>
              </div>
            </td>
          </tr>
        </table>
        
        <script type="text/javascript">
          function addElement(table_id, element_name) {
            var table = document.getElementById(table_id);
            var new_row = table.insertRow(-1);
            new_row.innerHTML = `<td><input type="checkbox" class="checkbox"></td>\
                                  <td><input type="text" class="form-control" name="price-description" placeholder="Entrer la catégorie"></td>\
                                  <td>\
                                    <div class="input-group">\
                                      <div class="input-group-prepend">\
                                        <div class="input-group-text">$</div>\
                                      </div>\
                                      <input type="number" class="form-control" name="price" placeholder="Entrer le montant" required>\
                                    </div>\
                                  </td>`;
          }
          
          function remSelectedElements(table_id) {
            var table = document.getElementById(table_id);
            var rows = table.getElementsByTagName("tr");
            var boxes = table.getElementsByClassName("checkbox");
            
            for (var i=rows.length-1; i>=0; i--) {
              if (boxes[i].checked) {
                rows[i].parentNode.removeChild(rows[i]);
              }
            }
          }
        </script>
        
        <div class="form-group mt-2">
          <button class="btn btn-primary" type="submit" value="Submit">Suivant</button>
          <a href="{{url_for('services_offering.new_services_offer')}}">
            <button class="btn btn-danger" type="button">Annuler</button>
          </a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}