{%extends "base.html"%}
{%block title%}{{title}}{%endblock%}
{%block header%}Estimateur de tuyauterie - Beta{%endblock%}
{%block content%}
<div class="container-fluid center w-75 m-auto p-5">
  <h2 class="border-bottom mb-4">Résultats</h2>
  <h4>{{ 'Taux horaire: %0.2f $/heure'|format(hourly_rate) }}</h4>
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">Item no.</th>
        <th scope="col">Type</th>
        <th scope="col">Diamètre (po)</th>
        <th scope="col">Schédule</th>
        <th scope="col">Matériel</th>
        <th scope="col">Quantité</th>
        <th scope="col">Temps</th>
        <th scope="col">Main d'oeuvre</th>
      </tr>
    </thead>
    <tbody>
      {% for r in range(bom|length) %}
      <tr>
        {% for c in range(bom[r]|length) %}
          {% if c == 0 %}
            <th scope="row">{{bom[r][c]}}</th>
          {% elif c == bom[r]|length - 2 %}
            <td>{{ '%0.2f'|format(bom[r][c]) }} h</td>
          {% elif c == bom[r]|length - 1 %}
            <td>{{ '%0.2f'|format(bom[r][c]) }} $</td>
          {% else %}
          <td>{{bom[r][c]}}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
      <tr>
        <th scope="row" colspan="6" style="text-align:right; padding-right:3em;">Total</th>
        <td style="font-weight:bold">{{ '%0.2f'|format(total_time) }} h</td>
        <td  style="font-weight:bold">{{ '%0.2f'|format(total_cost) }} $</td>
      </tr>
    </tbody>
  </table>
  <form>
    <input type="button" class="btn btn-primary" value="Retour" onclick="history.back()">
  </form>
</div>
{% endblock %}