<h2>Réinitialisation de votre mot de passe</h2>

<p>Bonjour {{username}}</p>
<p>
  Une demande de réinitialisation de votre mot de passe a été effectuée. Afin de réinitialiser votre mot de passe,
  veuillez suivre le lien ci-dessous.
</p>
<p>
  Si vous n'avez pas effectué de demande de réinitialisation de votre mot de passe, veuillez ignorer cet email.
  Votre ancien mot de passe est toujours valide.
</p>

<p>Changer de mot de passe: <a href={{link}}>Cliquer ici</a></p>

<p>Au plaisir,</p>
<p>L'équipe d'Albert ToolBox</p>