{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="container-fluid py-3 w-75" style="max-width:750px">
  <table class="table">
    <thead class="thead">
      <tr class="text-align-center">
        <th scope="row">
          <h2 class="text-uppercase"><b>Mon profil</b></h2>
        </th>
        <td class="text-end">
          <form action={{url_for('user_profile.edit_profile')}}>
            <button class="btn btn-secondary">Modifier</button>
          </form>
        </td>
      </tr>
    </thead>
    <tr class="align-middle">
      <th scope="row">Nom d'utilisateur:</th>
      <td>{{ user.name }}</td>
    </tr>
    <tr class="align-middle">
      <th scope="row">Addresse courriel:</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr class="align-middle">
      <th scope="row">Mot de passe:</th>
      <td>************</td>
    </tr>
  </table>
</div>
{% endblock %}